nbproject/private/
GLA_auctions-war/nbproject/private/
GLA_auctions-ejb/nbproject/private/
GLA_auctions-ejb/build/
GLA_auctions-war/build/
build/
GLA_auctions-ejb/dist/
GLA_auctions-war/dist/
dist/
*.class
build/
nbproject/
bin/
target/
libs/
tmp/

# OS Files #
.DS_Store

*.class

# Package Files #
*.jar
*.war
*.ear
*.db
rebel.xml
GLA_auctions-ejb/nbproject/ant-deploy.xml
GLA_auctions-ejb/nbproject/project.properties
GLA_auctions-war/nbproject/ant-deploy.xml
GLA_auctions-war/nbproject/project.properties
nbproject/ant-deploy.xml
nbproject/project.properties
